{{#if article}}

<br> <br> <br> <br> <br>

<div class="digestdate"> {{short-format-date}} </div>

{{#each article as |article|}}

{{saved-digest article=article}}

{{/each}}

{{else}}
<div id="empty"> you're all caught up! </div>
<div id="emptysubtitle"> favorite an article to add to list </div>


{{/if}}


{{yield}}
